.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-inverse {
  background: #f6a821;
  border-color: #d8931c

}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF
}

.navbar-brand > img {
  display: inline;
  margin-right: 6px;
}

.app {
  background: #f8fbff;
}

.modal-header {
    background-color: #4ABDAC;
    color:white;
}